{:source-paths
 ["src"]

 :deps {:aliases [:cljs]}

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "js"
        :js-options {:js-provider :shadow}
        :modules    {:main {:init-fn kev.sol.core/init}}
        :compiler-options {#_#_:output-feature-set :es5
                           :optimizations      :simple}
        :devtools   {:http-root "public"
                     :http-port 8020
                     :after-load kev.sol.core/init}}}}
